# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Pandas

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|Jupyter Lab       |
|RStudio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
#Below are a few examples of evaluating arithmetic expressions in Python
result=(3*4)+5
print(result)

17

In [16]:
#his will convert 200 minutes to hours by diving by 60.
hours=200/60
print(hours)

3.3333333333333335

Objectives:
* Learn Data science tools
* Learn some of popular languages for data science 
* Learn about Jupyter Notebooks

## Author
Nicoll Sandoval